.bg-main{
  background-color: #EA3D62;
}
.text-main{
  color:#EA3D62;
}

body::before{
  content: '';
  height: 75px;
  width: 100%;
  display: block;
}

@media(min-width: 768px){
  .news-input{
    width: 50%;
  }
}